.lora-1 {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* css reset */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Lora;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}
pre {
  display: inline !important;
}

:root {
  --black:#181818;
  --white: #ffffff;
  --border: #d3d3d3;
  --backgroundgray: #f0f0f0;
  --line: #9c9c9c;
  --yellow: #d1d1d1;
  --red: #ffadad;
  --green: #e3e3e3;
  --blue: #a4edf4;
  --purple: #bdb2ff;
}

.line {
  width: 100%;
  min-height: 2px;
  background-color: var(--line);
}

/* start of index.html */

.whole-container {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-container {
  width: 900px;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--black);
}
.first-row {
  width: 100%;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}
.first-row-left {
  width: 70%;
  min-height: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.first-row-left-text-container {
  padding: 10px 0;
  display: block;
  text-align: justify;
  line-height: 29px;
}
.first-row-left-text-ul {
  list-style-type: none;
  list-style-image: url(./static/arrow.webp);
  margin-inline-start: 8px;
}
.first-row-left-text-ul li {
  padding: 10px 0 0 5px;
  margin: 5px 0;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.first-row-left-text-ul li div p {
  padding-top: 5px;
}

.first-row-left-text-ul-topics {
  padding: 4px 6px;
  border: solid 1px var(--border);
  border-radius: 5px;
  font-size: 17px;
  background-color: var(--yellow);
  cursor: grab;
  user-select: none;
}
.first-row-left-text-ul-topic-indicator {
  cursor: grab;
}

.first-row-left-text-ul-sub-topics {
  padding: 1px 6px;
  border: solid 1px var(--border);
  border-radius: 5px;
  background-color: var(--green);
}


.first-row-left-h1 {
  text-align: left;
  display: inline;
  line-height: 40px;
  text-shadow: 0 0 1px black;
  font-size: 26px;
  padding: 0px 6px 5px 6px;
  margin: 0 5px;
}
.first-row-left-introduction-p {
  padding: 5px 0 5px 0;
  margin-top: 5px;
  font-size: 16px;
  line-height: 25px;
}
.second-row-left-contact-text-container {
  width: 100%;
  padding: 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  line-height: 25px;
}

.first-row-left-social-icons-ul {
  list-style-type: none;
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.first-row-left-social-icons-ul-li {
  padding: 20px 12px;
  font-size: 20px;
}

.first-row-right {
  width: 30%;
  min-height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.first-row-right-avatar-image {
  width: 250px;
  min-height: 190px;
  border: solid 2px var(--border);
  box-shadow: 0 0 10px 2px var(--border);
  border-radius: 10px;
}
.second-row {
  width: 100%;
  min-height: 100px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}
.second-row-right {
  width: 30%;
  min-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.second-row-academic a {
  text-decoration: none;
}
.second-row-resume a {
  text-decoration: none;
}

.second-row-left {
  width: 70%;
  min-height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

/* topics */
#data-scientist,
#full-stack,
#devops,
#other-skills {
  padding: 0 0 10px 0;
}



@media only screen and (max-width: 900px) {
  .main-container {
    width: 100%;
  }
  .first-row {
    width: 100%;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .first-row-left {
    width: 95%;
    min-height: 100px;
    padding: 0;
  }
  .first-row-left-introduction-p {
    font-size: 14px;
    line-height: 23px;
  }
  .first-row-left-text-ul li {
    padding: 10px 5px 0 0px;
    font-size: 14px;
    line-height: 23px;
  }
  .first-row-right {
    width: 90%;
    min-height: 250px;
    padding: 30px 0 0 0;
  }
  .first-row-right-avatar-image {
    width: 180px;
    min-height: 120px;
  }
  .second-row {
    width: 100%;
    min-height: 100px;
    padding: 15px 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }
  .second-row-left {
    width: 85%;
    min-height: 40px;
  }
  .second-row-left-contact-text-container {
    justify-content: center;
    text-align: center;
  }
  .first-row-left-social-icons-ul {
    justify-content: center
  }

  .line {
    display: none;
  }
  
}

/* academic --------------------------------------------------- */
.academic-first-row {
  width: 100%;
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.academic-second-row {
  width: 100%;
  min-height: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.academic-second-row-education {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.academic-second-row-education-ul {
  width: 100%;
  min-height: 10px;
}
.academic-second-row-education-ul-li {
  width: 100%;
  min-height: 10px;
}
.academic-second-row-education-li-div {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.academic-second-row-education-li-left {
  width: 50%;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.academic-second-row-education-li-right {
  width: 30%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.academic-second-row-research {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.academic-second-row-research-ul {
  width: 100%;
  min-height: 10px;
}
.academic-second-row-research-ul-li {
  width: 100%;
  min-height: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
